<div class="main-container container-fluid">
  <div class="row">
    <div class="user-container col-lg-6 col-md-12 col-sm-12" *ngFor="let need of contacts">
      <div class="user-icon"></div>
      <div class="user">
        <div class="user-icon image-holder">
          <img src="../../../../assets/user.png" alt="">
        </div>
        <span class="user-name">{{ need.user.name }} {{  getAge(need.user.birthday) }}</span>
        <div class="detail contact">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <span class="detail-value">{{ need.user.email }}</span>
        </div>
        <div class="detail contact">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <span class="detail-value">{{ need.user.phone }}</span>
        </div>
        <div class="shopping-details">
          <div class="detail">
            <div class="icon"><i class="fa fa-home"></i></div>
            <span class="detail-key">Település</span>
            <span class="detail-value">{{ need.location.city }}</span>
          </div>
          <div class="detail">
            <div class="icon"><i class="fa fa-calendar"></i></div>
            <span class="detail-key">Rendszeresség</span>
            <span class="detail-value">{{ displayShoppingFrequency(need.frequency) }}</span>
          </div>
          <div class="detail">
            <div class="icon"><i class="fa fa-money"></i></div>
            <span class="detail-key">Fizetési mód</span>
            <span class="detail-value">Készpénzzel</span>
          </div>
        </div> 
        <button class="button gray mb-1 view-details">További részletek</button>
      </div>
    </div>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>