.main-container {
	padding: 0 5rem;
}
.user-container {
	margin-bottom: 5rem;
	position: relative;
	display: flex;
	justify-content: center;
}

.user-container > .user-icon {
	box-shadow: var(--shadow);
	z-index: 1
}

.user-icon {
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color: white;
	border-radius: 50%;
	padding: 1rem;
	top: -2.5rem;
	z-index: 2;
}

.user {
	display: flex;
	align-items: center;
	position: relative;
	background-color: white;
	padding: 4rem 1rem 1rem 1rem;
	border-radius: 2rem;
	box-shadow: var(--shadow);
	width: 100%;
	z-index: 3;
	flex-direction: column;
}

.user-name {
	font-size: 1.5rem;
	font-weight: 600;
}

.contact.detail .detail-value, .contact.detail .icon {
	color: var(--red);
	font-weight: 400;
}

.distance {
	color: var(--orange);
}

.description {
	font-size: .9rem;
	padding: .5rem 1rem;
	width: 100%;
	text-align: justify;
}

.frequency {
	font-size: 1.2rem;
	font-weight: 500;
}

.view-details {
	transform: scale(.6);
}

.shopping-details {
	padding: 1rem 0;
}

.detail {
	display: flex;
	align-items: center;
}

.detail .icon {
	margin-right: 1rem;
	font-size: 1.2rem;
}

.detail .detail-value {
	margin-left: .6rem;
	font-weight: 600;
}