<form #form="ngForm" class="main-form">
  <div class="form-group">
    <label for="zip">{{ help ? 'Hol tudna segíteni?' : 'Hol kérne segítséget?' }}</label>
    <div class="row w-100">
      <div class="d-flex align-items-center col-md-7">
        <app-form-alert message="Hibás irányítószám" [alerted]="form.controls.zip && form.controls.zip.invalid && form.controls.zip.touched">
              <input 
                type="text" 
                class="input" 
                id="zip" 
                placeholder="Irányítószám"
                name="zip"
                [(ngModel)]="shoppingData.zip"
                (keyup)="zipChanged()"
                required
                [minlength]="4"
                [maxlength]="4"
              >
              <label class="ml-3 my-0 nowrap" @appear *ngIf="shoppingData.city.length > 0">{{ shoppingData.city }}</label>  
        </app-form-alert>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="frequency">{{ help ? 'Nagyjából milyen gyakran tudna segteni?' : 'Nagyjából miylen gyakran lenne szüksége segítségre?' }}</label>
    <app-form-alert message="Kötelező mező" [alerted]="form.controls.frequency && form.controls.frequency.invalid && form.controls.frequency.touched">
      <div class="row w-100">
        <div class="d-flex col-md-7">
          <select 
          type="text" 
          class="input w-100" 
          id="frequency" 
          value="-1"
          name="frequency"
          required
          [(ngModel)]="shoppingData.frequency">
            <option value="-1">Kérjük válasszon...</option>
            <option value="0">Egyszer</option>
            <option value="1">Naponta</option>
            <option value="2">2 naponta</option>
            <option value="3">Hetente kétszer</option>
            <option value="7">Hetente egyszer</option>
            <option value="14">Ritkábban</option>
          </select>
        </div>
      </div>
    </app-form-alert>
  </div>
  
  <div class="form-group">
    <label for="payment">{{ help ? 'Hogy tudna fizetést fogadni?' : 'Hogy tudná kifizetni a vásárlásokat?' }}</label>
    <app-form-alert message="Kötelező mező" [alerted]="false">
      <div class="row w-100">
        <div class="col-auto">
          <input type="checkbox" name="" id="cash" name="cash" [(ngModel)]="shoppingData.payment.cash" [checked]="shoppingData.payment.cash">
          <label for="cash" class="form-check-label">Készpénzzel</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" name="" id="transfer" name="transfer" [(ngModel)]="shoppingData.payment.transfer" [checked]="shoppingData.payment.transfer">
          <label for="transfer" class="form-check-label">Átutalással</label>
        </div>
      </div>
    </app-form-alert>
  </div>
  <div class="form-group flex-row">
    <label for="description">Szöveges leírás</label>
    <div class="d-flex">
      <textarea  
      class="input" 
      id="description" 
      value="-1"
      name="description"
      placeholder="Részletek..."
      [(ngModel)]="shoppingData.description">
  </textarea>
    </div>
  </div>
</form>
<nav class="navigation" style="justify-content: flex-end;">
  <button class="button" [ngClass]="{'disabled': form.invalid}" [disabled]="form.invalid" (click)="next()">Következő</button>
</nav>