.main-form {
	padding: 2rem 0;
}

label {
	font-weight: 600;
}

textarea.input {
	height: 5rem;
	padding: .8rem 1.2rem;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.nowrap {
	white-space: nowrap;
}