.padding {
	padding-top: var(--header-height) 
}

.window {
	position: relative;
	animation: appear 500ms;
	display: flex;
	justify-content: center;
}

.registration-window {
	background-color: white;
	border-radius: 1.5rem;
	box-shadow: var(--shadow);
	width: 100%;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5rem;
	align-items: center;
	z-index: 2;
}
.window >.icon {
	box-shadow: var(--shadow);
}

.icon {
	position: absolute;
	width: 10rem;
	height: 10rem;
	background-color: white;
	top: -5rem;
	padding: 2rem;
	border-radius: 50%;
	z-index: 1;
}

.form-content {
	flex: 1;
	width: 100%;
	padding-top: 4rem;
}

.material-icons {
	transform: scale(1.2);
}

@keyframes appear {
	0% { transform: translateY(-30rem); opacity: 0; }
	40% { transform: translateY(5rem); opacity: 1; }
	100% { transform: translateY(0); }
}


.indicators-container {
	display: flex;
	align-items: flex-start;
	height: 4rem;
	width: 100%;
}

.indicators {
	display: flex;
	justify-content: space-between;
	background-color: var(--gray);
	height: 6px;
	width: 100%;
	border-radius: 3px; 
}

.indicator {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.indicator span {
	position: relative;
	top: 1.8rem;
}

.indicator.active .indicator-box::before {
	background-color: var(--yellow-dark);
}

.indicator.done span {
	color: #0008;
}

.indicator.done .indicator-box::before {
	background-color: var(--yellow);
	width: 100%;
	height: 100%;
	content: '\2713';
}

.indicator-box {
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	border: 5px solid var(--gray);
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.indicator-box::before {
	background-color: white;
	position: absolute;
	content: '';
	font-family: 'Material Icons';
	width: 60%;
	height: 60%;
	line-height: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 50%;
	color: white;
	transition: var(--transition);
}
