<div class="main-container">
  <div class="notification new">
    <span>Új</span>
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
  <div class="notification new align-items-center">
    <span>Új</span>
    <span class="content">Németh Boglárka szeretne kapcsolatba lépni Önnel.</span>
    <button class="button">Engedélyezés</button>
  </div>
  <div class="notification">
    <span class="content">Bognár Attila megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
</div>