<div class="main-container">
  <div class="notification new">
    <span>Új</span>
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
  <div class="notification new">
    <span>Új</span>
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
  <div class="notification">
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
  <div class="notification">
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
  <div class="notification">
    <span class="content">Kovács Gézáné megosztotta az elérhetőségi adatait</span>
    <span>2019. 01. 12</span>
  </div>
</div>