.main-container {
	padding: 0 5rem;
}

.notification {
	margin-bottom: 2rem;
	display: flex;
	position: relative;
	background-color: white;
	padding: 1rem 2rem;
	border-radius: 2rem;
	box-shadow: var(--shadow);
	width: 100%;
}

.notification.new {
	font-weight: 600;
}

.notification.new span:nth-child(1) {
	margin-right: 2rem;
	color: var(--red);
}

.content {
	flex: 1;
}