<div class="header-container">
	<nav class="d-flex h-100 align-items-center">
		<div class="logo header-item" routerLink="/">
			Go viral
		</div>
		<div class="header-item" routerLink="/">
			<span>Főoldal</span>
		</div>
		<div class="header-item">
			<a href="#about"><span>Rólunk</span></a>
		</div>
	</nav>
	<nav class="d-flex flex">
		<div class="header-item login" (click)="login()" *ngIf="!account.loggedIn">
			<span>Bejelentkezés</span>
		</div>
		<div class="header-item login" routerLink="/my-account" *ngIf="account.loggedIn">
			<span>Fiókom</span>
		</div>
		<div class="header-item login" routerLink="/" (click)="logout()" *ngIf="account.loggedIn">
			<span>Kijelentkezés</span>
		</div>
		<div class="hedaer-item">
			<span></span>
		</div>
	</nav>
</div>
<app-login [(visible)]="loginVisible"></app-login>