<div class="header-container">
	<nav class="d-flex h-100 align-items-center">
		<div class="logo header-item">
			Go viral
		</div>
		<div class="header-item">
			<span>Főoldal</span>
		</div>
		<div class="header-item">
			<a href="#about"><span>Rólunk</span></a>
		</div>
	</nav>
	<nav class="d-flex flex-column">
		<div class="header-item login" (click)="login()">
			<span>Bejelentkezés</span>
		</div>
		<div class="hedaer-item">
			<span></span>
		</div>
	</nav>
</div>
<app-login [(visible)]="loginVisible"></app-login>