<div class="main-container">
  <section class="front-section container-fluid">
    <figure class="yellow-box">
    </figure>
    <div class="row">
      <article class="col-md-8 col-sm-12 d-flex align-items-center flex-column">
        <div class="col-md-8 col-sm-12">
          <header>
            <h1>Go viral</h1>
          </header>
          <p class="my-4">Segítsünk egymásnak a koronavírus járvány idején! Ha segítségre van szüksége, de nem tudja hol kérjen, vagy segítene, de nem tudja 
            hol tud, pár kattintás és vmi lesz Lorem Ipsum.
          </p>
          <nav class="d-flex pt-3">
            <button class="button mr-4" (click)="scrollToHelp()">Segíteni szeretnék</button>
            <button class="button red" (click)="scrollToHelp()">Segítséget kérnék</button>
          </nav>
        </div>
      </article>
    </div>
  </section>
  <section #help class="categories-section container-fluid col-10">
    <div class="row justify-content-center">
      <div class="card-container mb-3">
        <div class="help-card">
          <div class="card-content">
            <span class="title">
              Bevásárlás
            </span>
            <figure class="icon">
              <div class="image-holder">
                <img src="/assets/cart_hand.png" alt="">
              </div>
            </figure>
          </div>
          <nav>
            <button class="button w-100" (click)="showModal(true, 'shopping')">Segítek</button>
            <button class="button red w-100 mt-2">Segítséget kérek</button>
          </nav>
        </div>
      </div>
      <div class="card-container mb-3">
        <div class="help-card">
          <div class="card-content">
            <span class="title">
              Háziállat gondozás
            </span>
            <figure class="icon">
              <div class="image-holder">
                <img src="/assets/dog_hand.png" alt="">
              </div>
            </figure>
          </div>
          <nav>
            <button class="button w-100">Segítek</button>
            <button class="button red w-100 mt-2">Segítséget kérek</button>
          </nav>
        </div>
      </div>
      <div class="card-container mb-3">
        <div class="help-card">
          <div class="card-content">
            <span class="title">
              Tanítás
            </span>
            <figure class="icon">
              <div class="image-holder">
                <img src="/assets/book_hand.png" alt="">
              </div>
            </figure>
          </div>
          <nav>
            <button class="button w-100">Segítek</button>
            <button class="button red w-100 mt-2">Segítséget kérek</button>
          </nav>
        </div>
      </div>
      <div class="card-container mb-3">
        <div class="help-card">
          <div class="card-content">
            <span class="title">
              Online segítség
            </span>
            <figure class="icon">
              <div class="image-holder">
                <img src="/assets/computer.png" alt="">
              </div>
            </figure>
          </div>
          <nav>
            <button class="button w-100">Segítek</button>
            <button class="button red w-100 mt-2">Segítséget kérek</button>
          </nav>
        </div>
      </div>
      <div class="card-container mb-3">
        <div class="help-card">
          <div class="card-content">
            <span class="title">
              Lakás kiadás
            </span>
            <figure class="icon">
              <div class="image-holder">
                <img src="/assets/insurance.png" alt="">
              </div>
            </figure>
          </div>
          <nav class="w-100">
            <button class="button w-100">Segítek</button>
            <button class="button red w-100 mt-2">Segítséget kérek</button>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section #about class="about-us container" id="about">
    <header>
      <h2>Rólunk</h2>
    </header>
    <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut rutrum dui. Suspendisse efficitur auctor varius. Vestibulum cursus sagittis auctor. Cras aliquam pellentesque dolor, tristique fermentum velit cursus eu. Morbi enim massa, gravida ac ultricies in, auctor vitae orci. Maecenas cursus libero et enim eleifend, sed iaculis magna pellentesque. In pulvinar accumsan cursus. Donec a erat id orci lobortis dignissim vel vel tortor. Integer vel dolor neque. Quisque a dolor mauris. Fusce ac odio id urna imperdiet porta. Cras faucibus urna et justo dignissim cursus. Nulla facilisi. Cras condimentum risus et diam condimentum, sit amet elementum quam congue. Maecenas blandit cursus massa sed efficitur. Praesent hendrerit interdum varius.</p>
    </article>
  </section>
</div>