<div class="padding"></div>
<div class="main-container container-fluid px-5 py-4">
  <div class="row">
    <aside class="account-navigation col-md-3">
      <div class="account-picture-container">
        <div class="account-picture image-holder">
          <img src="../../../assets/user.png" alt="">
        </div>
      </div>
      <div class="name" *ngIf="user"><span>{{ user.name }}</span></div>
      <div class="email" *ngIf="user"><span>{{ user.email }}</span></div>
      <nav class="navigation">
        <div class="navigation-item" routerLink="shopping-help" routerLinkActive="active">
          <div class="icon image-holder">
            <img src="../../../assets/cart_hand.png" alt="">
          </div>
          <span class="navigation-title">Bevásárlásban segítek</span>
        </div>
        <div class="navigation-item" routerLink="contacts" routerLinkActive="active">
          <i class="fa fa-users"></i>
          <span class="navigation-title">Kontaktjaim</span>
        </div>
        <div class="navigation-item" routerLink="notifications" routerLinkActive="active">
          <i class="fa fa-envelope"></i>
          <span class="navigation-title">Értesítéseim</span>
        </div>
        <div class="navigation-item" routerLink="settings" routerLinkActive="active">
          <i class="fa fa-cog"></i>
          <span class="navigation-title">Beállításaim</span>
        </div>
      </nav>
    </aside>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>