<div class="main-container">
  <div class="user-container col-12">
    <div class="user-icon"></div>
    <div class="user">
      <div class="user-icon image-holder">
        <img src="../../../../assets/user.png" alt="">
      </div>
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-6 d-flex flex-column">
            <span class="frequency">Bevásárlás {{ displayShoppingFrequency(3) }}</span>
            <span class="user-name">Férfi (65)</span>
            <span class="distance">Kevesebb, mint 2 km</span>
            <p class="description">
              Nagymamámra kell vigyáznom, és nem szívesen járok ki az utcára. Nagyon megköszönnénk egy kis segítséget            </p>
            <div class="details">
              <div class="shopping-details">
                <div class="detail">
                  <div class="icon"><i class="fa fa-home"></i></div>
                  <span class="detail-key">Település</span>
                  <span class="detail-value">Budapest</span>
                </div>
                <div class="detail">
                  <div class="icon"><i class="fa fa-calendar"></i></div>
                  <span class="detail-key">Rendszeresség</span>
                  <span class="detail-value">2 hetente</span>
                </div>
                <div class="detail">
                  <div class="icon"><i class="fa fa-money"></i></div>
                  <span class="detail-key">Fizetési mód</span>
                  <span class="detail-value">Készpénzzel</span>
                </div>
              </div>   
            </div>
          </div>
          <div class="col-5">
            <div class="video-container">
              <iframe class="video w-100"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <button class="button w-100">Kontakt kérése</button>
    </div>
  </div>
</div>