* { outline: 0!important; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2) format('woff2'),
    url(../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff) format('woff'),
    url(../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  line-height: 0;
  display: flex;
  align-items: center;
	position: relative;
	top: 3px;

  transition: transform ease-in-out .12s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.collapsed .material-icons{
  transform: rotate(180deg);
}

*, body{
  font-family: 'Montserrat', sans-serif;
  font-weight: inherit;
}

:root{
  --yellow: #fab94c;
  --yellow-dark: #f89c46;
  --orange: #f67353;
  --red: #f15d4a;
  --white: #f8fafb;

  --blue: #4c8dfa;
  --blue-dark: #624cfa;
  --shadow: 2px 2px 14px -3px #0007;
  --header-height: 4.2rem;
  --transition: all ease-in-out .2s;
  --gray: #0001;
  --light: #0002;
}
body{
  background-color: var(--white);
  overflow-x: hidden;
  font-weight: 300;
}
a, a:hover{
  color: inherit;
  text-decoration: none;
}

.button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow-dark);
  border: 0;
  height: 3rem;
  border-radius: 1.5rem;
  width: fit-content;
  padding: .5em 1.3em;
  font-weight: 600;
  color: var(--white);
  transition: var(--transition);
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
  text-align: center;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  min-width: fit-content;
}

.button.red {
  background: var(--red);
}

.button.red:hover {
  background: var(--orange);
}

.button.gray {
  background: var(--gray);
  color: black;
}

.button.gray:hover {
  background: #0003;
}

.button:hover {
  background: var(--yellow);
}

.button:hover i.fa, .button:hover i.material-icons {
  animation: jump-right .4s ease;
}

.button:not(.absolute) i.fa{
  margin-left: 1rem;
  display: flex;
  align-items: center;
}


.button span {
  white-space: nowrap;
}


.input {
  outline: 0;
  width: 100%;
  height: 100%;
  border: 1px #0002 solid;
  height: 3rem;
  border-radius: 1.5rem;
  padding: .5rem 1.5rem;
  transition: var(--transition);
  background-color: white;
}

.input:hover {
  border-color: #0004;
}

.input:focus, .input:active {
  border-color: var(--yellow-dark);
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-holder:not(.cover) > img, .image-holder:not(.cover) > svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-holder.cover > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes jump-right {
  0% { transform: translateX(0) }
  50% { transform: translateX(.5rem) }
  100% { transform: translateX(0) }
}

@media screen and (max-width: 900px){
  html{
      font-size: 15px;
  }
}
@media screen and (max-width: 500px){
  html{
      font-size: 13px;
  }
}

input[type='radio'],
input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	z-index: -1;
	width: 0%;
}
.form-check-label {
	position: relative;
  display: flex;
  align-items: center;
	padding-left: 2.3em;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
	z-index: 3;
	opacity: 0.75;
  transition: all ease-in-out 0.18s;
  
}
.form-check-label:hover {
	color: #021f4f;
}
.form-check-label::before {
	content: '\2713';
	line-height: 0px;
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	left: 0;
	width: 1.6em;
	height: 1.6em;
	box-sizing: border-box;
	border: 1px solid rgba(33, 33, 33, 1);
	border-radius: calc(0.25rem - 1px);
	z-index: -1;
	transition: all ease-in-out 0.17s;
}
input[type='radio'] + label::before {
	border-radius: 18px;
	content: '';
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
	opacity: 1;
}
input[type='radio']:checked + label {
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
}
input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
	background: #021f4f;
	border-color: #021f4f;
}